.squares{
    
    width:350px;
   margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.box{
    width:100px;
    height:100px;
   
    border:1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}
button,.winner{
    
    width:150px;
    height:30px;
    margin: auto;
}
.move{
    width:100px;
    height:20px;
    margin:20px auto;

}
